body {
  margin: 2px;
  background-color: #f3ece8;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 100px;
}

.header {
  height: 90px;
  line-height: 100px;
  background-color: #d63a1b;
  padding-left: 15px;
  color: #f3ece8;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 10px solid #217fbe;
  margin-bottom: 5px;
}

.header-image {
  height: 75px;
  position: absolute;
  right: 10px;
  top: 10px;
  transform: rotate(20deg);
}

.menu-container,
.header-container {
  position: relative;
}

.logout {
  position: absolute;
  right: 2px;
  width: 120px;
  height: 30px;
  font-weight: 600;
  font-size: inherit;
  color: #f3ece8;
  border: none;
  border-radius: 5px;
  background-color: #217fbe;
}

.section-head,
.success {
  margin-top: 10px;
  color: #144e75;
  text-align: center;
}

.success {
  color: #42a534;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.link {
  margin: 1px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  color: #f3ece8;
  flex-basis: calc(25% - 4px);
  border-radius: 5px;
  background-color: #217fbe;
  text-decoration: none;
  position: relative;
}

.link:hover,
.logout:hover {
  background-color: #5e95b9;
}

.active,
.active:hover {
  background-color: #f7db51;
  color: #144e75;
}

.form-container {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  justify-content: center;
}

.form-label {
  text-align: right;
  color: #144e75;
  margin-right: 5px;
}

.form-input {
  flex-basis: 25%;
}

.form-error {
  color: #d63a1b;
  text-align: center;
  font-style: italic;
  min-height: 20px;
  flex-basis: 100%;
}

.hero-container {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 30px 10px 30px;
  border: 3px solid #d63a1b;
  border-radius: 10px;
  margin: 20px 5px;
  position: relative;
}

.image-container {
  flex-basis: 100%;
  display: inline-flex;
  justify-content: center;
}

.hero-img {
  width: 120px;
  height: auto;
}

.hero-name {
  flex-basis: 100%;
  align-self: center;
}

.hero-button {
  flex-basis: calc(100% / 3);
  margin-top: 10px;
  height: 30px;
  font-weight: 600;
  font-size: inherit;
  color: #f3ece8;
  border: none;
  border-radius: 5px;
  background-color: #217fbe;
}

.hero-info-container {
  flex-basis: calc((100% / 3) - 2px);
  text-align: center;
  background-color: #f7db51;
  border-radius: 5px;
  color: #144e75;
  border-right: 1px solid #d63a1b;
  border-bottom: 1px solid #d63a1b;
  border-left: 1px solid #d63a1b;
}
