body {
  margin: 2px;
  background-image: url("https://cdn.wallpapersafari.com/44/47/og3i5V.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: screen;
  background-color: #f3ece8;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 100px;
}

.header {
  height: 90px;
  line-height: 100px;
  background-color: #d63a1b;
  color: #f3ece8;
  font-size: 40px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-title {
  position: absolute;
  left: 20px;
}

.show-user {
  position: absolute;
  right: 45px;
  top: 9px;
  font-size: 16px;
}

.header-container {
  position: relative;
}

.menu-container {
  position: sticky;
  top: 90px;
  z-index: 1;
  background-color: #d63a1b;
  border-top: 3px solid #d63a1b;
  border-bottom: 3px solid #d63a1b;
}

.logout {
  position: absolute;
  margin-top: 1px;
  right: 2px;
  width: 120px;
  height: 30px;
  font-weight: 600;
  font-size: inherit;
  color: #f3ece8;
  border: none;
  border-radius: 2px;
  background-color: #217fbe;
}

.page-title {
  margin-top: 50px;
  text-align: center;
  color: #f3ece8;
  background-color: #217fbe;
  width: fit-content;
  padding: 20px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.link {
  margin: 1px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  color: #f3ece8;
  flex-basis: calc(25% - 4px);
  border-radius: 2px;
  background-color: #217fbe;
  text-decoration: none;
  position: relative;
}

.link:hover,
.logout:hover {
  background-color: #5e95b9;
}

.active,
.active:hover {
  background-color: #f7db51;
  color: #144e75;
  cursor: default;
}

.form-surround {
  height: fit-content;
  max-width: 350px;
  margin-top: 50px;
  background-color: #217fbe;
  padding-top: 30px;
  padding-bottom: 50px;
}

.hero-surround {
  background-color: #217fbe;
  max-width: 400px;
  padding-bottom: 20px;
}

.form-container {
  display: flex;
  color: #f3ece8;
  flex-flow: row wrap;
  padding: 5px;
  justify-content: center;
}

.form-title {
  font-weight: 600;
  font-size: x-large;
  padding-bottom: 20px;
  color: #f3ece8;
}

.icon {
  padding-bottom: 0px;
}

.form-label {
  text-align: right;
  font-weight: 600;
  color: #f3ece8;
  margin-right: 5px;
}

.form-input {
  flex-basis: 25%;
  font-size: 14px;
}

.form-error {
  color: #d63a1b;
  font-style: italic;
  height: 40px;
  flex-basis: 100%;
}

.image-container {
  flex-basis: 100%;
  display: inline-flex;
  justify-content: center;
}

.hero-img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px black;
}

.hero-name,
.hero-button-container {
  align-self: center;
}

.hero-button {
  margin-top: 10px;
  height: 50px;
  width: 200px;
  font-size: inherit;
  color: #f3ece8;
  border: none;
  background-color: #217fbe;
  padding-left: 16px;
  text-align: left;
  margin-bottom: 7px;
}

.red-border {
  border: 3px solid #d63a1b;
  border-radius: 5px;
}
